{% extends "base.html" %}

{% block title %}
問題作成 - Knowva
{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'quizzes/css/question_create.css' %}">
{% endblock %}

{% block content %}

<div class="problem-create">
    <h1 class="page-title">問題作成</h1>

    <form method="post" class="problem-form">
        {% csrf_token %}

        <!-- 問題本体 -->
        <div class="problem-card">
            <h2 class="section-title">問題内容</h2>

            <div class="form-group">
                <label>タイトル</label>
                {{ form.title.errors}}
                {{ form.title }}
            </div>

            <div class="form-group">
                <label>問題文</label>
                {{ form.text.errors }}
                {{ form.text }}
            </div>

            <div class="form-group">
                <label>解説</label>
                {{ form.explanation.errors }}
                {{ form.explanation }}
            </div>
        </div>

        <!-- 選択肢 -->
        <div class="choices">
            <h2 class="section-title">選択肢</h2>
            {{ choice_formset.management_form }}

            {% for formset in choice_formset %}
            <div class="choice-card">
                <div class="choice-header">
                    <span class="choice-number">
                        選択肢 {{ forloop.counter }}
                    </span>

                    <label class="correct-flag">
                        {{ formset.is_correct.errors }}
                        {{ formset.is_correct }}
                        <span>正解</span>
                    </label>
                </div>

                <div class="form-group">
                    <label>選択肢文</label>
                    {{ formset.text.errors }}
                    {{ formset.text }}
                </div>

                <div class="form-group">
                    <label>解説</label>
                    {{ formset.explanation.errors }}
                    {{ formset.explanation }}
                </div>
            </div>
            {% endfor %}
        </div>

        <button type="submit" name="action" value="next" class="btn-submit">保存して、次の問題</button>
        <button type="submit" name="action" value="finish" class="btn-submit">保存して、終了</button>
    </form>
</div>
{% endblock %}
