{% extends "base.html" %}

{% block title %}
問題集作成 - Knowva
{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static '/quizzes/css/quiz_create.css' %}">
{% endblock %}

{% block content %}
<div class="problem-create">
    <h1 class="page-title">問題集作成</h1>

    <form method="post" class="problem-form">
        {% csrf_token %}

        <div class="form-group">
            <label>タイトル</label>
            {{ form.title }}
        </div>

        <div class="form-group">
            <label>説明</label>
            {{ form.description }}
        </div>

        <div class="form-group checkbox">
            {{ form.is_public }}
            <label>公開する</label>
        </div>

        <button type="submit" class="btn-submit">作成</button>
    </form>
</div>
{% endblock %}
