{% extends "base.html" %}
{% load static %}

{% block title %}
答え合わせ - Knowva
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'answers/css/answer.css' %}">
{% endblock %}

{% block content %}

<h2>{{ question.text }}</h2>

{% if answer.is_correct %}
    <p style="color:gray;">正解</p>
{% else %}
    <p style="color:gray;">不正解</p>
{% endif %}

{% for choice in choices %}

<label style="display:block; margin:8px 0;">

    <input 
        type="checkbox"
        disabled
        {% if choice in selected_choices %}checked{% endif %}
    >

    {{ choice.text }}

    {% if choice.is_correct and choice in selected_choices %}
        <span style="color:green;">（回答は正解です）</span>

    {% elif choice.is_correct and choice not in selected_choices %}
        <span style="color:green;">（正解）</span>

    {% elif not choice.is_correct and choice in selected_choices %}
        <span style="color:red;">（回答は不正解です）</span>

    {% endif %}

</label>

<p>{{ choice.explanation }}</p>

{% endfor %}

{% if prev_index is not None %}
    <a href="{% url 'answer_feedback' question.quiz.course.uuid question.quiz.uuid prev_index %}">
        前の回答
    </a><br>
{% endif %}

{% if next_index is not None%}
    <a href="{% url 'answer_feedback' question.quiz.course.uuid question.quiz.uuid next_index %}">
        次の回答
    </a><br>
{% endif %}

{% if session.finished_at %}
    <a href= "{% url 'answer_attempt' question.quiz.course.uuid question.quiz.uuid %}">
        再挑戦
    </a>
{% else %}
    <a href = "{% url 'answer_attempt' question.quiz.course.uuid question.quiz.uuid %}" >
        問題を解く
    </a>
{% endif %}
{% endblock %}